.about-wrapper{
    widows: 100%;
    max-width: 1700px;
    margin: 0 auto;
    position: relative;
}
.about__header{
    padding: 20px 0 ;
    border-bottom: .5px dashed rgba(0,0,0,0.05);
}
.about__header-icon{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__header-icon-item{
    font-size: 45px;
    color: #186C88;
}
.about__header-username{
    padding-top: 10px;
    text-align: center;

}
.about__body{
    display: flex;
    flex-direction: column;
}
.about__body-paragraf{
    width: 100%;
    padding: 20px;
    order: 2;
}
.about__body-paragraf-p{
    text-align: justify;
    font-size: 15px;
}


/*
     another section
 */

 .about__body-aside{
    width: 100%;
}
.social{
    padding: 10px 0;
    text-align: center;
}
.social:nth-child(1) a,
.social:nth-child(2) a{
    display: inline-block;
    font-size: 19px;
    padding: 7px 9px 5px 9px;
    margin: 0 7px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 4px 8px 0 rgba(0,0,0,0.20);
    color: rgba(0,0,0,0.20);
    cursor: pointer;
    transition: .3s linear;
}
.social:nth-child(1) a:hover,
.social:nth-child(2) a:hover{
    color: rgba(0,0,0,0.85);
}

.interests{
    width: 100%;
    padding: 10px;
    background: linear-gradient(35deg,#186C88,rgb(38, 196, 196));
    color: #fff;
}
.interests-header,
.skils-header{
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 0;
    letter-spacing: 1px;
}
.interests-icosns > *,
.skils-box > *
{
    font-size: 15px;
    font-weight: 300;
    padding: 6px 0;
}
.music,
.film,
.swiming,
.book,
.arr{
    margin-right: 9px;
}
.skils{
    background-color: #ddd;
    color: #186C88;
    padding: 10px;
}
@media all and (min-width:620px){
    .about-wrapper{
        padding: 30px;
    }
    .about__body-paragraf-p{
        margin-top: 30px;
        font-size: 17px;
        letter-spacing: 1px;
    }
    .about__body{
        flex-direction: row;
    }
    .about__body-paragraf{
        order: unset;
    }
    .social {
        padding: 30px 0;
    }
    .interests-icosns > *,
.skils-box > *
{
    font-size: 17px;
}
}

@media all and (min-width:860px){
    .about__header-icon{
        height: 130px;
        width: 130px;
    }
    .about__header-icon-item{
        font-size: 60px;
   
    }
    .about__header-username{
      font-size: 19px;  
    }
}