/* img{
    width: 100%;
}
.Blog{ 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #eee;
    overflow: hidden;
}
.post{
    width: 100%;
    padding: 40px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

}
.post-img{
    min-width: 230px;
    max-width: 230px;
    height: 230px;
    object-fit: cover;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
.post-img img{
    width: 100%;
    height: 100%;
    transform: translate(0px);  

}
.post-img::before{
    position: absolute;
    content: '';
    width: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255, .18);
    border-right: .7px solid rgba(0, 0, 0, 0.2);
    z-index: 1;
} */

.Blog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
}
.Blog-link{
    height: 280px;
    width:  100%;
    margin: 10px 0;
    border: 1px solid  #fafafb;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    background-color: #fff;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    transition: .3s;
    overflow: hidden;
}
.Blog-post{
    padding: 7px 12px;
}
.Blog-post-title{
 color: rgba(0, 0, 0, 0.87);
 font-size: 24px;
 font-weight: 400;
 text-transform: uppercase;
 padding: 3px 0;
 letter-spacing: 1px;
 margin-bottom: 10px;

}
.bar{
    position: relative;
    margin-bottom: 30px;
    display: none;
}
.bar::before {
    content: "";
    width: 130px;
    height: 1px;
    background: #028FCB;
    display: block;
    bottom: -15px;
    left: 0;
    position: absolute;
}
.Blog-post-author{
    color: rgba(0, 0, 0, 0.87);
    font-size: 19px;
    font-weight: 400; 
    float: left; 

    
}
.Blog-post-date{
 color: rgba(0, 0, 0, 0.54);
 font-size: 19px;
 font-weight: 400;
 float: left;
 margin-left: 8px;
 padding-left: 6px;
 border-left: .5px solid;
}
.Blog-post-text{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color:rgba(0, 0, 0, 0.87);
    letter-spacing: 0.15008px;
    text-align: center;
}
.Blog-img-item{
    display: none;

}

.Blog-paginatiom{
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
.Blog-right-btn,
.Blog-left-btn{
border: unset;
outline: none;
background-color: transparent;
}
.b-r,
.b-l{
    font-size: 50px;
    margin: 9px;
    cursor: pointer;
}

 @media all and (min-width:360px){
    .Blog-post{
        padding: 0px 12px;
    }

}
@media all and (min-width:414px){
    .bar{
        display: block;
    }
}
@media all and (min-width:690px){
    .Blog-link{
        display: flex;
    }
    .Blog-img-item{
        display: block;
        max-width: 230px;
        min-width: 230px;
        object-fit: cover;
    }
    .Blog-img-item::after{
        position: absolute;
        content: '';
        width: 50%;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(255,255,255, .18);
        border-right: .7px solid rgba(0, 0, 0, 0.2);
        z-index: 1;
    } 
    .Blog-post{
       flex-grow: 1;
}
}

@media all and (min-width:1250px){
    .Blog-link{
        width: 48%;
    }
} 