/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    background-color: rgb(252, 252, 252);
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
