
.nav{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    background-color:rgb(44, 42, 43);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    z-index: 10;
}

.nav__list{
    position: relative;
    display: flex;
    justify-content: space-around;
    list-style-type: none; 
}
.nav__link{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 25px 10px;
    transition: .3s;
    cursor: pointer;
}

@media all and (min-width:480px){
    .nav__link{
        font-size: 14px; 
        padding: 23px 10px;
    }
}
@media all and (min-width:640px){
    .nav__list{
    width: 640px;
    }
}
@media all and (min-width:640px){
    .nav__link{
        font-size: 16px; 
        padding: 21px 10px;
    }

    .nav__link:hover{
        font-size: 17px; 
        padding: 20px 10px;	

  
        /* text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                     0px 8px 13px rgba(0,0,0,0.1),
                     0px 18px 23px rgba(0,0,0,0.1); */
    }
}