.Post-wrapper{
	position: relative;
	max-width: 1300px;
	margin: 40px auto;
	border: .5px solid rgba(0, 0, 0, 0.89);
	padding: 20px;
	/* background-image: url(../Images/quote.png); */
	background-size: cover;
	background-position: center center;
	background-color: #fff;
}
.dataBar-title,
.dataBar-date{
	font-family: 'Oswald', sans-serif;
	color: rgba(0, 0, 0, 0.87);
	font-size: 16px;
	/* line-height: 20px; */
	font-weight: 400;
	float: left;
	padding: 5px;
}
.dataBar-avatar{
	width: 25px;
	height: 25px;
	color: rgba(0, 0, 0, 0.87);
	float: left;
}
.post-title{
	color: rgba(0, 0, 0, 0.89);
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 1.1px;
	text-align: center;
	padding: 18px 0;

}
.post-text{
	max-width: 1000px;
	margin: 0 auto 60px auto;
	font-size: 16px;
	padding: 0 7px;
	font-weight: 300;
	text-align: justify;
}
.back-arrow{
	position: absolute;
	left: 3%;
	bottom: 3%;
	width: 35px;
	height: 35px;
	color:rgba(0, 0, 0, 0.89);
	opacity:0.9;
	animation: arrow 0.6s infinite alternate ease-in-out;
}
@media all and (min-width:414px){
	.Post-wrapper{
		padding: 30px;
	}
	.post-title{
		font-size: 30px;
		padding: 24px 0;
	}
	.post-text{
	 font-size: 20px;
	 padding: 0 22px;
	}
}

@media all and (min-width:600px){
	.Post-wrapper{
		padding: 50px;
	}
	.back-arrow{
		width: 40px;
		height: 40px;
	}
}
@media all and (min-width:900px){
	.Post-wrapper{
		padding: 60px;
	}
}

@keyframes arrow {
	0% { transform: translateX(0); opacity: 0.9 }
	100% { transform: translateX(-0.4em); opacity: 0.5 }
  }